application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.19.4 05/24/2017 03:20 PM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="Treinamento WADL"
            xml:lang="pt-br"><![CDATA[Treinamento WADL]]></doc><grammars><include
        href="xsd0.xsd"><doc/></include></grammars><resources
            base="http://localhost:8080/Treinamento/v1/lancamentos"><resource
                path="lancamentos"><method id="addLancamentoMensal"
                        name="POST"><request><ns2:representation
                        element="lancamentoMensalModel"
                        mediaType="application/json"
                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                        xmlns=""/></request><response><representation
                mediaType="application/json"/></response></method><method
                id="updateLancamentoMensal"
                        name="POST"><request><ns2:representation
                        element="lancamentoMensalModel"
                        mediaType="application/json"
                        xmlns:ns2="http://wadl.dev.java.net/2009/02"
                        xmlns=""/></request><response><representation
                mediaType="application/json"/></response></method><method
                id="deleteLancamentoMensal"
                        name="DELETE"><request><param name="lancamento"
                        style="query" type="xs:int"
                        xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                mediaType="application/json"/></response></method><resource
                    path="/findByPeriodo"><method id="findByPeriodo"
                            name="GET"><request><param name="periodo"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="/findByDescricao"><method id="findByDescricao"
                            name="POST"><request><representation
                            mediaType="application/json"/></request><response><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="/findByTipo"><method id="findByTipo"
                            name="GET"><request><param name="tipo"
                            style="query" type="xs:int"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation mediaType="application/json"/></response></method></resource></resource></resources></application>
